<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ECAEDUConnectionString" connectionString="Data Source=10.63.15.136;Initial Catalog=CEA_EDU;Integrated Security=False;User ID=sa;Password=P@ssw0rd;Connect Timeout=3;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
    <!--<add name="ECAEDUConnectionString" connectionString="Data Source=.;Initial Catalog=CEA_EDU;Integrated Security=False;User ID=sa;Password=abc@123;Connect Timeout=3;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <!--用户名）-->
    <add key="userName" value="university"/>
    <!--密码）-->
    <add key="password" value="university_123"/>
    <!--当前课程）-->
    <add key="GetCurrentCourseUrl" value="http://172.31.3.178:8090/university/httpservices/getCourseByClassroom?userName={0}&amp;password={1}&amp;classroomId={2}"/>
    <!--<add key="GetCurrentCourseUrl" value="http://172.31.3.178:8080/universityTest/httpservices/getCourseByClassroom?userName={0}&amp;password={1}&amp;classroomId={2}"/>-->
    <!--<add key="GetCurrentCourseUrl" value="http://172.20.137.222:8080/university/httpservices/getCourseByClassroom?userName={0}&amp;password={1}&amp;classroomId={2}"/>-->
    
    <!--课程表查询）-->
    <add key="GetCourseScheduleUrl" value="http://172.31.3.178:8090/university/httpservices/getCourseAndClass?userName={0}&amp;password={1}&amp;identityCard={2}&amp;month={3}&amp;userType={4}"/>
    <!--<add key="GetCourseScheduleUrl" value="http://172.31.3.178:8080/universityTest/httpservices/getCourseAndClass?userName={0}&amp;password={1}&amp;identityCard={2}&amp;month={3}&amp;userType={4}"/>-->
    <!--<add key="GetCourseScheduleUrl" value="http://172.20.137.222:8080/university/httpservices/getCourseAndClass?userName={0}&amp;password={1}&amp;identityCard={2}&amp;month={3}&amp;userType={4}"/>-->
    <!--是否开发环境-->
    <add key="IsDev" value="true"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
